.dialog-body{
    background: #fff;
    border: 1px solid #999;
    border-radius: 6px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .2);
}
.dialog-header{
    overflow: hidden;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #eaeaea;
    border-radius: 6px 6px 0 0;
    color: #333;
}
.dialog-header h2{
    float: left;
    padding-left: 12px;
    line-height: 2.8;
    font-size: 14px;
    font-weight: normal;
    color: #999;
    white-space: normal;
    overflow: hidden;
}
.dialog-header span{
    float: right;
}
.dialog-header span button{
    width: 20px;
    height: 20px;
    padding: 0;
    overflow: hidden;
    border: 0 none;
}
.dialog-header .dialog-btn-close{
    margin: -4px 10px 0 0;
    line-height: 1;
    font-size: 22px;
    color: #999;
    background-color: transparent;
    cursor: pointer;
}
.dialog-content{
    padding: 10px;
    overflow: hidden;
}
.dialog-content .choose{
    padding: 15px 0 20px 20px;
}
.dialog-content .choose .price{
    font-size: 20px;
    color: #dd2434;
}
.dialog-content .choose .dt{
    float: left;
    width: 75px;
    height: 36px;
    line-height: 30px;
    margin-right: 0;
    font-size: 12px;
    color: #3a3a3a;
    clear: both;
}
.dialog-content .choose .btn-wrap{
    margin: 20px 0 0 30px;
    margin-left: 0;
    font-size: 16px;
    text-align: center;
}